.timeline
  .feeds
    .feed
      .feed-inner
        .container
          - @posts.each do |post|
            .units-timeline
              .inner-timeline.unit

                %p.note-title.txt-bold
                  %span
                    = "#{post.body}"
                %p.txt-xs.txt-grey
                  = "#{post.number} #{post.user.nickname} #{post.created_at.to_s(:db)}"
                  - if login? && current_user.id == post.user.id
                    = link_to '削除', post_path(post), class: 'btn',method: :delete, data: { confirm: 'delete ok?' }
