!!!
%html
  %head
    %title Piece
    = stylesheet_link_tag    "application", media: "all", 'data-turbolinks-track' => true
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .header-container
      .header
        .current-user
          %a.eyecatch.eyecatch(href="#{new_post_path}")
            /TODO: きたない
            %img.mask.circle(src="/assets/plus.png" alt="")
        %h2.logo
          = link_to 'piece', root_path

        .account-menu
          %ul.inline-wrap
            %li.inline-child
              %a(href="#{new_post_path}")
                %img.mask.circle(src="#{current_user.image_url}" alt="")

      - if login?
      - else
        = link_to 'Twitterでログイン', '/auth/twitter'

      - if flash[:notice]
        .alert.alert-success
          = flash[:notice]
      - if flash[:alert]
        .alert.alert-danger
          = flash[:alert]

      = yield
