!!!
%html
  %head
    %title Piece
    = stylesheet_link_tag    "application", media: "all", 'data-turbolinks-track' => true
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .header-container
      .header
        .current-user
          %a.eyecatch.eyecatch-small(href="#")
            %img.mask.circle(src="#{current_user.image_url}" alt="")
        %h2.logo
          %a
            piece

      - if login?
        = link_to 'ログアウト', logout_path
        = link_to '新規作成', new_post_path
      - else
        = link_to 'Twitterでログイン', '/auth/twitter'

      - if flash[:notice]
        .alert.alert-success
          = flash[:notice]
      - if flash[:alert]
        .alert.alert-danger
          = flash[:alert]

      = yield
